LOCATE COMP "i_clk" SITE "A9";
IOBUF PORT "i_clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "i_clk" 48.0 MHz;

LOCATE COMP "i_rst_n" SITE "J17";
IOBUF PORT "i_rst_n" IO_TYPE=SSTL135_I;

LOCATE COMP "ddr3_clk_p" SITE "J18";
IOBUF PORT "ddr3_clk_p" SLEWRATE=FAST;
IOBUF PORT "ddr3_clk_p" IO_TYPE=SSTL135_I;

LOCATE COMP "ddr3_clk_n" SITE "K18";
IOBUF PORT "ddr3_clk_n" SLEWRATE=FAST;
IOBUF PORT "ddr3_clk_n" IO_TYPE=SSTL135_I;

LOCATE COMP "ddr3_reset_n" SITE "L18";
IOBUF PORT "ddr3_reset_n" SLEWRATE=FAST;
IOBUF PORT "ddr3_reset_n" IO_TYPE=SSTL135_I;

LOCATE COMP "ddr3_cke" SITE "D18";
IOBUF PORT "ddr3_cke" SLEWRATE=FAST;
IOBUF PORT "ddr3_cke" IO_TYPE=SSTL135_I;

LOCATE COMP "ddr3_cs_n" SITE "A12";
IOBUF PORT "ddr3_cs_n" SLEWRATE=FAST;
IOBUF PORT "ddr3_cs_n" IO_TYPE=SSTL135_I;

LOCATE COMP "ddr3_ras_n" SITE "C12";
IOBUF PORT "ddr3_ras_n" SLEWRATE=FAST;
IOBUF PORT "ddr3_ras_n" IO_TYPE=SSTL135_I;

LOCATE COMP "ddr3_cas_n" SITE "D13";
IOBUF PORT "ddr3_cas_n" SLEWRATE=FAST;
IOBUF PORT "ddr3_cas_n" IO_TYPE=SSTL135_I;

LOCATE COMP "ddr3_we_n" SITE "B12";
IOBUF PORT "ddr3_we_n" SLEWRATE=FAST;
IOBUF PORT "ddr3_we_n" IO_TYPE=SSTL135_I;


LOCATE COMP "ddr3_addr[0]" SITE "C4";
IOBUF PORT "ddr3_addr[0]" SLEWRATE=FAST;
IOBUF PORT "ddr3_addr[0]" IO_TYPE=SSTL135_I;
LOCATE COMP "ddr3_addr[1]" SITE "D2";
IOBUF PORT "ddr3_addr[1]" SLEWRATE=FAST;
IOBUF PORT "ddr3_addr[1]" IO_TYPE=SSTL135_I;
LOCATE COMP "ddr3_addr[2]" SITE "D3";
IOBUF PORT "ddr3_addr[2]" SLEWRATE=FAST;
IOBUF PORT "ddr3_addr[2]" IO_TYPE=SSTL135_I;
LOCATE COMP "ddr3_addr[3]" SITE "A3";
IOBUF PORT "ddr3_addr[3]" SLEWRATE=FAST;
IOBUF PORT "ddr3_addr[3]" IO_TYPE=SSTL135_I;
LOCATE COMP "ddr3_addr[4]" SITE "A4";
IOBUF PORT "ddr3_addr[4]" SLEWRATE=FAST;
IOBUF PORT "ddr3_addr[4]" IO_TYPE=SSTL135_I;
LOCATE COMP "ddr3_addr[5]" SITE "D4";
IOBUF PORT "ddr3_addr[5]" SLEWRATE=FAST;
IOBUF PORT "ddr3_addr[5]" IO_TYPE=SSTL135_I;
LOCATE COMP "ddr3_addr[6]" SITE "C3";
IOBUF PORT "ddr3_addr[6]" SLEWRATE=FAST;
IOBUF PORT "ddr3_addr[6]" IO_TYPE=SSTL135_I;
LOCATE COMP "ddr3_addr[7]" SITE "B2";
IOBUF PORT "ddr3_addr[7]" SLEWRATE=FAST;
IOBUF PORT "ddr3_addr[7]" IO_TYPE=SSTL135_I;
LOCATE COMP "ddr3_addr[8]" SITE "B1";
IOBUF PORT "ddr3_addr[8]" SLEWRATE=FAST;
IOBUF PORT "ddr3_addr[8]" IO_TYPE=SSTL135_I;
LOCATE COMP "ddr3_addr[9]" SITE "D1";
IOBUF PORT "ddr3_addr[9]" SLEWRATE=FAST;
IOBUF PORT "ddr3_addr[9]" IO_TYPE=SSTL135_I;
LOCATE COMP "ddr3_addr[10]" SITE "A7";
IOBUF PORT "ddr3_addr[10]" SLEWRATE=FAST;
IOBUF PORT "ddr3_addr[10]" IO_TYPE=SSTL135_I;
LOCATE COMP "ddr3_addr[11]" SITE "C2";
IOBUF PORT "ddr3_addr[11]" SLEWRATE=FAST;
IOBUF PORT "ddr3_addr[11]" IO_TYPE=SSTL135_I;
LOCATE COMP "ddr3_addr[12]" SITE "B6";
IOBUF PORT "ddr3_addr[12]" SLEWRATE=FAST;
IOBUF PORT "ddr3_addr[12]" IO_TYPE=SSTL135_I;
LOCATE COMP "ddr3_addr[13]" SITE "C1";
IOBUF PORT "ddr3_addr[13]" SLEWRATE=FAST;
IOBUF PORT "ddr3_addr[13]" IO_TYPE=SSTL135_I;
LOCATE COMP "ddr3_addr[14]" SITE "A2";
IOBUF PORT "ddr3_addr[14]" SLEWRATE=FAST;
IOBUF PORT "ddr3_addr[14]" IO_TYPE=SSTL135_I;
LOCATE COMP "ddr3_addr[15]" SITE "C7";
IOBUF PORT "ddr3_addr[15]" SLEWRATE=FAST;
IOBUF PORT "ddr3_addr[15]" IO_TYPE=SSTL135_I;

LOCATE COMP "ddr3_ba[0]" SITE "D6";
IOBUF PORT "ddr3_ba[0]" SLEWRATE=FAST;
IOBUF PORT "ddr3_ba[0]" IO_TYPE=SSTL135_I;
LOCATE COMP "ddr3_ba[1]" SITE "B7";
IOBUF PORT "ddr3_ba[1]" SLEWRATE=FAST;
IOBUF PORT "ddr3_ba[1]" IO_TYPE=SSTL135_I;
LOCATE COMP "ddr3_ba[2]" SITE "A6";
IOBUF PORT "ddr3_ba[2]" SLEWRATE=FAST;
IOBUF PORT "ddr3_ba[2]" IO_TYPE=SSTL135_I;


LOCATE COMP "ddr3_dq[0]" SITE "C17";
IOBUF PORT "ddr3_dq[0]" SLEWRATE=FAST;
IOBUF PORT "ddr3_dq[0]" IO_TYPE=SSTL135_I;
IOBUF PORT "ddr3_dq[0]" TERMINATION=OFF;
LOCATE COMP "ddr3_dq[1]" SITE "D15";
IOBUF PORT "ddr3_dq[1]" SLEWRATE=FAST;
IOBUF PORT "ddr3_dq[1]" IO_TYPE=SSTL135_I;
IOBUF PORT "ddr3_dq[1]" TERMINATION=OFF;
LOCATE COMP "ddr3_dq[2]" SITE "B17";
IOBUF PORT "ddr3_dq[2]" SLEWRATE=FAST;
IOBUF PORT "ddr3_dq[2]" IO_TYPE=SSTL135_I;
IOBUF PORT "ddr3_dq[2]" TERMINATION=OFF;
LOCATE COMP "ddr3_dq[3]" SITE "C16";
IOBUF PORT "ddr3_dq[3]" SLEWRATE=FAST;
IOBUF PORT "ddr3_dq[3]" IO_TYPE=SSTL135_I;
IOBUF PORT "ddr3_dq[3]" TERMINATION=OFF;
LOCATE COMP "ddr3_dq[4]" SITE "A15";
IOBUF PORT "ddr3_dq[4]" SLEWRATE=FAST;
IOBUF PORT "ddr3_dq[4]" IO_TYPE=SSTL135_I;
IOBUF PORT "ddr3_dq[4]" TERMINATION=OFF;
LOCATE COMP "ddr3_dq[5]" SITE "B13";
IOBUF PORT "ddr3_dq[5]" SLEWRATE=FAST;
IOBUF PORT "ddr3_dq[5]" IO_TYPE=SSTL135_I;
IOBUF PORT "ddr3_dq[5]" TERMINATION=OFF;
LOCATE COMP "ddr3_dq[6]" SITE "A17";
IOBUF PORT "ddr3_dq[6]" SLEWRATE=FAST;
IOBUF PORT "ddr3_dq[6]" IO_TYPE=SSTL135_I;
IOBUF PORT "ddr3_dq[6]" TERMINATION=OFF;
LOCATE COMP "ddr3_dq[7]" SITE "A13";
IOBUF PORT "ddr3_dq[7]" SLEWRATE=FAST;
IOBUF PORT "ddr3_dq[7]" IO_TYPE=SSTL135_I;
IOBUF PORT "ddr3_dq[7]" TERMINATION=OFF;
LOCATE COMP "ddr3_dq[8]" SITE "F17";
IOBUF PORT "ddr3_dq[8]" SLEWRATE=FAST;
IOBUF PORT "ddr3_dq[8]" IO_TYPE=SSTL135_I;
IOBUF PORT "ddr3_dq[8]" TERMINATION=OFF;
LOCATE COMP "ddr3_dq[9]" SITE "F16";
IOBUF PORT "ddr3_dq[9]" SLEWRATE=FAST;
IOBUF PORT "ddr3_dq[9]" IO_TYPE=SSTL135_I;
IOBUF PORT "ddr3_dq[9]" TERMINATION=OFF;
LOCATE COMP "ddr3_dq[10]" SITE "G15";
IOBUF PORT "ddr3_dq[10]" SLEWRATE=FAST;
IOBUF PORT "ddr3_dq[10]" IO_TYPE=SSTL135_I;
IOBUF PORT "ddr3_dq[10]" TERMINATION=OFF;
LOCATE COMP "ddr3_dq[11]" SITE "F15";
IOBUF PORT "ddr3_dq[11]" SLEWRATE=FAST;
IOBUF PORT "ddr3_dq[11]" IO_TYPE=SSTL135_I;
IOBUF PORT "ddr3_dq[11]" TERMINATION=OFF;
LOCATE COMP "ddr3_dq[12]" SITE "J16";
IOBUF PORT "ddr3_dq[12]" SLEWRATE=FAST;
IOBUF PORT "ddr3_dq[12]" IO_TYPE=SSTL135_I;
IOBUF PORT "ddr3_dq[12]" TERMINATION=OFF;
LOCATE COMP "ddr3_dq[13]" SITE "C18";
IOBUF PORT "ddr3_dq[13]" SLEWRATE=FAST;
IOBUF PORT "ddr3_dq[13]" IO_TYPE=SSTL135_I;
IOBUF PORT "ddr3_dq[13]" TERMINATION=OFF;
LOCATE COMP "ddr3_dq[14]" SITE "H16";
IOBUF PORT "ddr3_dq[14]" SLEWRATE=FAST;
IOBUF PORT "ddr3_dq[14]" IO_TYPE=SSTL135_I;
IOBUF PORT "ddr3_dq[14]" TERMINATION=OFF;
LOCATE COMP "ddr3_dq[15]" SITE "F18";
IOBUF PORT "ddr3_dq[15]" SLEWRATE=FAST;
IOBUF PORT "ddr3_dq[15]" IO_TYPE=SSTL135_I;
IOBUF PORT "ddr3_dq[15]" TERMINATION=OFF;

LOCATE COMP "ddr3_dqs_p[0]" SITE "B15";
IOBUF PORT "ddr3_dqs_p[0]" TERMINATION=OFF SLEWRATE=FAST IO_TYPE=SSTL135_I;

LOCATE COMP "ddr3_dqs_p[1]" SITE "G18";
IOBUF PORT "ddr3_dqs_p[1]" TERMINATION=OFF SLEWRATE=FAST IO_TYPE=SSTL135_I;

LOCATE COMP "ddr3_dqs_n[0]" SITE "A16";
IOBUF PORT "ddr3_dqs_n[0]" TERMINATION=OFF SLEWRATE=FAST IO_TYPE=SSTL135_I ;

LOCATE COMP "ddr3_dqs_n[1]" SITE "H17";
IOBUF PORT "ddr3_dqs_n[1]" TERMINATION=OFF SLEWRATE=FAST IO_TYPE=SSTL135_I ;

LOCATE COMP "ddr3_dm[0]" SITE "G16";
IOBUF PORT "ddr3_dm[0]" SLEWRATE=FAST;
IOBUF PORT "ddr3_dm[0]" IO_TYPE=SSTL135_I;
LOCATE COMP "ddr3_dm[1]" SITE "D16";
IOBUF PORT "ddr3_dm[1]" SLEWRATE=FAST;
IOBUF PORT "ddr3_dm[1]" IO_TYPE=SSTL135_I;


LOCATE COMP "ddr3_odt" SITE "C13";
IOBUF PORT "ddr3_odt" SLEWRATE=FAST;
IOBUF PORT "ddr3_odt" IO_TYPE=SSTL135_I;


LOCATE COMP "ddram_vccio[0]" SITE "K16";
IOBUF PORT "ddram_vccio[0]" SLEWRATE=FAST;
IOBUF PORT "ddram_vccio[0]" IO_TYPE=SSTL135_II;
LOCATE COMP "ddram_vccio[1]" SITE "D17";
IOBUF PORT "ddram_vccio[1]" SLEWRATE=FAST;
IOBUF PORT "ddram_vccio[1]" IO_TYPE=SSTL135_II;
LOCATE COMP "ddram_vccio[2]" SITE "K15";
IOBUF PORT "ddram_vccio[2]" SLEWRATE=FAST;
IOBUF PORT "ddram_vccio[2]" IO_TYPE=SSTL135_II;
LOCATE COMP "ddram_vccio[3]" SITE "K17";
IOBUF PORT "ddram_vccio[3]" SLEWRATE=FAST;
IOBUF PORT "ddram_vccio[3]" IO_TYPE=SSTL135_II;
LOCATE COMP "ddram_vccio[4]" SITE "B18";
IOBUF PORT "ddram_vccio[4]" SLEWRATE=FAST;
IOBUF PORT "ddram_vccio[4]" IO_TYPE=SSTL135_II;
LOCATE COMP "ddram_vccio[5]" SITE "C6";
IOBUF PORT "ddram_vccio[5]" SLEWRATE=FAST;
IOBUF PORT "ddram_vccio[5]" IO_TYPE=SSTL135_II;

LOCATE COMP "ddram_gnd[0]" SITE "L15";
IOBUF PORT "ddram_gnd[0]" SLEWRATE=FAST;
IOBUF PORT "ddram_gnd[0]" IO_TYPE=SSTL135_II;
LOCATE COMP "ddram_gnd[1]" SITE "L16";
IOBUF PORT "ddram_gnd[1]" SLEWRATE=FAST;
IOBUF PORT "ddram_gnd[1]" IO_TYPE=SSTL135_II;

LOCATE COMP "rgb_led0_r" SITE "K4";
IOBUF PORT "rgb_led0_r" IO_TYPE=LVCMOS33;
LOCATE COMP "rgb_led0_g" SITE "M3";
IOBUF PORT "rgb_led0_g" IO_TYPE=LVCMOS33;
LOCATE COMP "rgb_led0_b" SITE "J3";
IOBUF PORT "rgb_led0_b" IO_TYPE=LVCMOS33;

LOCATE COMP "rx" SITE "N17" ;
IOBUF PORT "rx" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rx" PULLMODE=DOWN;
LOCATE COMP "tx" SITE "M18" ;
IOBUF PORT "tx" IO_TYPE=LVCMOS33 ;
